
:root {
    --background-color: #f4f4f9;
    --text-color: #333;
    --header-text-color: #fff;
    --input-background-color: #fff;
    --input-border-color: #ccc;
    --input-invalid-border-color: #f01010;
    --input-valid-border-color: #28a745;
    --button-background-color: #4CAF50;
    --button-hover-background-color: #45a049;
    --link-background-color: #4CAF50;
    --link-hover-background-color: #45a049;
    --container-background-color: #fff;
    --container-border-color: #000;
    --cell-border-color: #ccc;
    --cell-hover-border-color: #000;
    --hovered-background-color: #f1f1f1;
    --painter-background-color: rgba(153, 147, 147, 0.611);
    --h-color:#28a745;
}


body.dark {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-text-color: #e0e0e0;
    --input-background-color: #1e1e1e;
    --input-border-color: #444;
    --input-invalid-border-color: #ff4d4d;
    --input-valid-border-color: #4dff4d;
    --button-background-color: #333;
    --button-hover-background-color: #555;
    --link-background-color: #333;
    --link-hover-background-color: #555;
    --container-background-color: #1e1e1e;
    --container-border-color: #fff;
    --cell-border-color: #444;
    --cell-hover-border-color: #555;
    --hovered-background-color: #2a2a2a;
    --h-color:#ffffff;
}



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--button-background-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header nav a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    transition: color 0.3s;
}

header nav a:hover {
    color: var(--text-color);
}

#themeToggle {
    background-color: var(--header-text-color);
    color: var(--link-background-color);
    border: 2px solid var(--header-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#themeToggle:hover {
    background-color: var(--button-background-color);
    color: var(--header-text-color);
}

main {
    top: 40px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

h2 {
    text-align: center;
    color: var(--h-color);
    margin-bottom: 20px;
}


table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: var(--container-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

thead {
    background-color: var(--button-background-color);
    color: var(--header-text-color);
}

thead th {
    padding: 15px;
    text-align: left;
    font-size: 1rem;
}

tbody tr {
    border-bottom: 1px solid var(--cell-border-color);
}

tbody tr:nth-child(even) {
    background-color: var(--input-background-color);
}

tbody tr:hover {
    background-color: var(--input-border-color);
}

tbody td {
    padding: 15px;
    text-align: left;
    font-size: 0.9rem;
}

tbody td:first-child {
    font-weight: bold;
    text-align: center;
}

tbody td:last-child {
    text-align: right;
}


tr.gold td:first-child {
    background: url('img/gold.png') no-repeat left center;
    background-size: 20px 20px;
    padding-left: 25px;
    font-weight: bold;
    color: #FFD700;
}

tr.silver td:first-child {
    background: url('img/silver.png') no-repeat left center;
    background-size: 20px 20px;
    padding-left: 25px;
    font-weight: bold;
    color: #C0C0C0;
}

tr.bronze td:first-child {
    background: url('img/bronze.png') no-repeat left center;
    background-size: 20px 20px;
    padding-left: 25px;
    font-weight: bold;
    color: #CD7F32;
}

.statistics {
    background-color: var(--container-background-color);
    /* border: 1px solid var(--container-border-color); */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}

.statistics h2, .achievements h2 {
    background-color: var(--button-background-color);
    color: var(--header-text-color); 
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--cell-border-color);
}

#popularColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    vertical-align: middle;
}

.statistics ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.statistics ul li {
    font-size: 1rem;
    margin: 10px 0;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cell-border-color);
    padding-bottom: 5px;
}

.statistics ul li span {
    font-weight: bold;
    color: var(--h-color);
}

.achievements {
    background-color: var(--container-background-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievements ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.achievements ul li {
    font-size: 1rem;
    margin: 15px 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.achievements ul li span {
    font-weight: bold;
    color: var(--h-color);
    margin-bottom: 5px;
}

.achievements .progress-bar {
    width: 100%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 5px;
}

.achievements .progress {
    height: 100%;
    background-color: #76c7c0;
    width: 0%;
    transition: width 0.3s ease;
}


@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center; 
        padding: 10px;
    }

    header h1 {
        font-size: 1.5rem;
        margin-right: 10px; 
    }

    #themeToggle {
        padding: 5px;
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    header h1 {
        font-size: 1.6rem;
        margin-right: 15px;
    }

    #themeToggle {
        padding: 5px 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    header h1 {
        font-size: 1.4rem;
        margin-right: 15px;
    }

    #themeToggle {
        padding: 4px 7px;
        font-size: 0.85rem;
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    header h1 {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }

    table {
        font-size: 0.8rem;
    }

    tbody td {
        padding: 8px;
    }

    .statistics ul li,
    .achievements ul li {
        font-size: 0.9rem;
    }

    .statistics ul li span,
    .achievements ul li span {
        font-size: 0.9rem;
    }

    .achievements .progress-bar {
        height: 10px;
    }
}

@media (max-width: 576px) {
    header {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    header h1 {
        font-size: 1rem;
        margin-right: 10px;
    }

    #themeToggle {
        padding: 3px 5px;
        font-size: 0.8rem;
    }

    table {
        font-size: 0.75rem;
    }

    tbody td {
        padding: 6px;
    }

    .statistics ul li,
    .achievements ul li {
        font-size: 0.8rem;
    }

    .statistics ul li span,
    .achievements ul li span {
        font-size: 0.8rem;
    }

    .achievements .progress-bar {
        height: 8px;
    }
}

@media (max-width: 400px) {
    header {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    header h1 {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    #themeToggle {
        padding: 2px 4px;
        font-size: 0.7rem;
    }

    table {
        font-size: 0.7rem;
    }

    tbody td {
        padding: 5px;
    }
}