:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --input-background-color: #fff;
    --input-border-color: #ccc;
    --input-invalid-border-color: #f01010;
    --input-valid-border-color: #28a745;
    --button-background-color: #007bff;
    --button-hover-background-color: #0056b3;
    --link-background-color: #007bff;
    --link-hover-background-color: #0056b3;
}


body.dark {
    --background-color: #333;
    --text-color: #f0f0f0;
    --input-background-color: #444;
    --input-border-color: #666;
    --input-invalid-border-color: #ff4d4d;
    --input-valid-border-color: #4dff4d;
    --button-background-color: #555;
    --button-hover-background-color: #777;
    --link-background-color: #555;
    --link-hover-background-color: #777;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
}
.theme {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form {
    background-color: var(--input-background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: var(--text-color) 2px solid;
}

input[type="text"].invalid,
input[type="password"].invalid {
    box-shadow: 4px 4px 5px rgba(255, 0, 0, 0.794);
    border-color: var(--input-invalid-border-color);
}

input[type="text"].valid,
input[type="password"].valid {
    box-shadow: 4px 4px 5px rgba(66, 190, 4, 0.625);
    border-color: var(--input-valid-border-color);
}

.error-message {
    border:red 2px solid;
    padding: 5px;
    border-radius: 5px ;
    color: red;
    margin-top: 10px;
    display: none;
    text-align: center;
    text-transform: uppercase;
}

#passwordRequirements {
    margin-bottom: 10px;
}

#passwordRequirements p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}

#passwordRequirements p.invalid {
    color: var(--input-invalid-border-color);
}

#passwordRequirements p.valid {
    color: var(--input-valid-border-color);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--button-hover-background-color);
}

.select {
    display: block;
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--link-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.select:hover {
    background-color: var(--link-hover-background-color);
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    button[type="submit"],
    .select {
        font-size: 14px;
        padding: 8px;
    }
}

